[submodule "client-unity/Assets/Extensions/ezyfox-server-csharp-client"]
	path = client-unity/Assets/Extensions/ezyfox-server-csharp-client
	url = https://github.com/youngmonkeys/ezyfox-server-csharp-client.git
